* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hcontent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.logo img {
    height: 5.4rem;
    width: 10.8rem;
    filter: contrast(2);
}

.main {
    background-image: url("images videos/imgvid/hbg.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 107vh;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn1 {
    width: 75px;
    height: 33px;
    background-color: rgb(241, 50, 50);
    color: white;
    border: 1px solid rgb(241, 50, 50);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}

.btn1:hover {
    background-color: rgb(202, 16, 16);
    border: 1px solid rgb(202, 16, 16);
}

.smalltext {
    margin-bottom: 20px;
}

.text {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 3.0em;
    font-weight: 900 !important;
    margin-bottom: 18px;
}

.normaltext {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 1.6rem;
    margin-bottom: 18px;
}

.smalltext {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 1.3rem;
}

.hform {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 36rem;
    margin-bottom: 1em;
    gap: 9px;
    margin-top: 1em;
}

.hemail {
    width: 28em;
    height: 4em;
    background-color: rgb(19, 19, 19, 0.8);
    border: 1px solid rgb(148, 148, 148);
    box-sizing: border-box;
    border-radius: 3px;
    color: white;
    padding: 1px 18px;
}

.getbtn {
    width: 10em ;
    height: 2.6em;
    background-color: rgb(229, 9, 20);
    color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.3em;
    font-weight: 300;
    cursor: pointer;
}

.getbtn:hover {
    background-color: rgb(202, 16, 16);
    border: 1px solid rgb(202, 16, 16);
}

input[type="email"] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
    color: white;
}

.hform input::placeholder {
    color: #a9a9a9;
    font-size: 16px;
    font-weight: 480;
}

/* Main 2 part */
.hr {
    height: 0.4rem;
    background-color: rgb(35, 35, 35);
    border: 2px solid rgb(35, 35, 35);
}

.main2 {
    background-color: black;
    width: 100%;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textpart {
    flex: 1;
}

.textpart span {
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 3.1em;
}

.main2contain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 75%;
    gap: 10%;
}

.main2 p {
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 1.3em;
    font-weight: 400;
}

.tvpart {
    flex: 1;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22rem;
    position: relative;
}

.tvpart video {
    object-fit: contain;
    width: 70%;
    height: 58%;
    z-index: 2;
    position: absolute;
}

.tvpart img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Main3 part */
.main3 {
    background-color: black;
    height: 86vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 78%;
    height: 63%;
}

/* img part 3 */
.imgpart3 {
    display: flex;
    align-items: end;
    justify-content: center;
    flex: 1;
    position: relative;
    /* top: -52px; */
    /* width:100%; */
    /* height: 100%; */

}

.imgpart3 img {
    width: 100%;
    /* position: relative; */
    /* Set width to 100% to fill the container */
    /* height: auto; */
    /* Maintain aspect ratio */
    /* position: absolute; */
    /* top: -195px; */
}

/* s-box styling */
.s-box {
    width: 55%;
    height: 28%;
    border: 2px solid grey;
    border-radius: 12px;
    background-color: black;
    /* z-index: 3; */
    position: absolute;
    bottom: 1.2em;
    /* top: 75%;
    left: 22%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 5; */
}
.s-box-img img{
    width: 100%;
    padding: 0px 5px;

}
.s-box-img{
    /* width: 100%;
    height: 80%; */
    /* position: relative; */
    /* top: 6%; */
    /* left: 5%; */
    /* z-index: 2; */
    flex: 1;
}

.s-boxtext {
    padding: 8px;
    color: white;
    flex: 2;
    font-size: 0.8em;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.s-boxanimate {
    padding: 6px;
    flex: 1;
}
.s-boxanimate img{
    padding: 5px;
    width: 100%;
    height:100%;
}

.s-boxtext span {
    color: #0071eb;
}

/* text part 3 */
.textpart3 {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: white;
}

.content3-h,
.text4 h1,
.textpart5 h1,
.content6 h1 {
    font-size: 3em;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    -webkit-text-stroke: 1px white;
    /* For webkit browsers */
    /* margin-bottom: 15px; */
    color: white;
}

.textpart3 span,
.text4 span,
.textpart5 span,
.submit6 span {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
}

/* Main 4 */
.main4 {
    height: 67vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.text4 {
    width: 30%;
    position: absolute;
    left: 18%;
    top: 22%;
    z-index: 3;
}
.content4{
    height: 100%;
}


/* Main 5 */
.main5 {
    height: 86vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content5 {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textpart5 {
    width: 47%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.imagepart5 {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 47%;
}

.imagepart5 img {
    width: 100%;
    height: 100%;
}

/* Main 6 */
.faq-container {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    background-color: #000;
    color: #fff;
    width: 100%;
}

.faq-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 77%;
    margin: 0 auto;
}

.faq-heading {
    padding: 0em 1em;
    font-size: 3rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    -webkit-text-stroke: 1px white;
    margin-bottom: 15px;
    color: white;
}

.faq-button {
    width: 100%;
    height: 5rem;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: rgb(45, 45, 45);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.23s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.symbol6 {
    margin-left: 15px;
    font-size: 2em;
}

.text6 {
    display: flex;
    flex-wrap: wrap;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: white;
    font-size: 1.6em;
    font-weight: 400;
    text-align: left;
}

.faq-button:hover {
    background-color: #3d3d3d;
}

.inner {
    text-align: center;
    height: auto;
    width: 100%;
    margin: 3em;

}

.hform2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.hemail2 {
    width: 28%;
    height: 3.5rem;
    background-color: rgb(19, 19, 19, 0.8);
    border: 1px solid rgb(148, 148, 148);
    box-sizing: border-box;
    border-radius: 3px;
    color: white;
    padding: 1px 18px;
}

.getbtn2 {
    width: 16%;
    height: 3.5rem;
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.5em;
    font-weight: 300;
    cursor: pointer;
}

.getbtn2:hover {
    background-color: rgb(202, 16, 16);
}

.hform2 input::placeholder {
    color: #a9a9a9;
    font-size: 1.08em;
    font-weight: 300;
}

.submit6 {
    margin-top: 3%;
}

.submit6 span {
    font-size: 1.3em;
}

footer {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    background-color: #000;
    width: 100%;
    height: auto;
}

.all-f-content {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: start;
    align-items: center;
    text-align: left;
    padding: 5vw 4vw;
}

.f-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1.01em;
    column-gap: 7.5em;
}

.f-head,
.f-container a {
    font-size: 0.92em;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.f-head {
    font-size: 1.12em;
    margin: 0.5em 0px;
    /* position: relative; */
    /* top: 1.1em; */
}

.f-button {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(26, 25, 25);
    cursor: pointer;
    width: auto;
    height:50%;
    border: none;
    color: white;
    border: 1px solid rgb(133, 132, 132);
    cursor: pointer;
    margin: 1em 0px;
}

.f-button img {
    width: 30px;
    margin-right: 8px;
}

.f-button span {
    font-size: 140%;
    font-weight: 500;
}
